
                {% if product.metafields.opinew_metafields['stars_product'] != blank %}
                        {{ product.metafields.opinew_metafields['stars_product'] }}
                {% else %}
                            
            <div class="opinew-stars-plugin-link opinew-product-page-stars-disable" onclick="window.location.href = '#opinew-plugin'" style="
            text-decoration: none;
            ">
              <span class="opinew-star-plugin-inside">
              
                <i class="stars-color opw-noci opw-noci-star-empty" aria-hidden="true"></i>
                <i class="stars-color opw-noci opw-noci-star-empty" aria-hidden="true"></i>
                <i class="stars-color opw-noci opw-noci-star-empty" aria-hidden="true"></i>
                <i class="stars-color opw-noci opw-noci-star-empty" aria-hidden="true"></i>
                <i class="stars-color opw-noci opw-noci-star-empty" aria-hidden="true"></i>
                
            </span>
                <span class="opinew-no-reviews-stars-plugin" onMouseOver="this.style.color='#c45500'"
               onMouseOut="this.style.color='inherit'"><b>
                    
                </b></span>
            </div>
             {% endif %}