
    <div id='opinew_carousel_plugin_app'></div>
    {% schema %}
        {
            "presets": [{
                "name": "Featured review carousel",
                "category": "Opinew"
            }]
        }
    {% endschema %}
    