{% comment %}
The contents of the page.faq.liquid template can be found in /sections/page-faq-template.liquid
{% endcomment %}
<a name="pagecontent" id="pagecontent"></a>
{% section 'custom-faq' %}

<div class="faqs-pages-data">
  {% section 'answer-que' %}
</div>
<div class="faqs-pages-data pink-info-faq">
  {% section 'pink-store-info' %}
</div>
