<a name="pagecontent" id="pagecontent"></a>

<div class="page-title-info center">
  {% if settings.page-secondary-img != blank %}
  <div class="store-logo-img"> 
    <img src="{{ settings.page-secondary-img | img_url : "master" }}">
  </div>
  {% endif %}
  <h1 class=" title center">
    {{ page.title }}
  </h1> 
</div>

<div class="pink-perks-pages">
  {% section 'image-with-text-careers' %}
  {% comment %}
 <div style="margin:0 auto;" class="ccFormGenerator" id="lZGPT9fHxICK7zOEQUsZPbo93"></div>
  {% endcomment %}
</div>

<div>
  {% include 'page-multi-column', content: page.content %}
</div>
