<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
  <div class="page-title-info center">
    {% if settings.page-secondary-img != blank %}
    <div class="store-logo-img"> 
      <img src="{{ settings.page-secondary-img | img_url : "master" }}">
    </div>
    {% endif %}
    <h1 class=" title center">
      {{ page.title }}
    </h1>
   
  </div>
  {% section 'image-with-text-overlay-guarantee' %}
  {% section 'customer-guarantee' %}
</div>
