{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
<div style="clear:both;"></div><div id="opinew-reviews-product-page-code" class="">
                <span id="opinew-plugin" data-server-address="https://www.opinew.com" data-opinew-shop-id="{{ shop.id }}" data-shop-url="{{shop.domain}}" data-platform-product-id="{{product.id}}">
                {{ product.metafields.opinew_metafields['product_plugin'] }} <span id="opinew_product_plugin_app"></span>
                </span></div>



